@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
}

.primary-color{
    color: #00cba9;
}

.svg-bg-color{
    background-color: rgba(22,163,74, 0.8);
}